@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-200 {
    animation-delay: 0.2s;
  }
  .animation-delay-400 {
    animation-delay: 0.4s;
  }
}

html,
body,
#__next {
  height: 100%;
}

body {
  background: #121212;
  color: white;
  width: calc(100vw - 34px);
  padding-left: 34px;
}
